<p>Friends:</p><a onclick=setUID(1,7) href='/addfriend'> add friend: admin</a><br><a onclick=setUID(2,7) href='/addfriend'> add friend: t1</a><br><a onclick=setUID(3,7) href='/addfriend'> add friend: t2</a><br><a onclick=setUID(4,7) href='/addfriend'> add friend: t3</a><br><a onclick=setUID(5,7) href='/addfriend'> add friend: sam</a><br><a onclick=setUID(6,7) href='/addfriend'> add friend: chad</a><br><script>
        function setUID(RID, SID){
            document.cookie = "RID="+RID
            document.cookie = "SID="+SID
        }
        </script>